<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareerHub - Home</title>
    <link rel="stylesheet" href="/css/style.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
 <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
  
   <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
    <img src="/images/logo.jpg" >    
    </a>
    <button
     class="navbar-toggler"
      type="button" 
      data-bs-toggle="collapse"
       data-bs-target="#navbarNavAltMarkup"
       >
      <span
       class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " href="/home">Home</a>
        <a class="nav-link" href="/">For students</a>
        <a class="nav-link" href="/">For Menotors</a>
        <a class="nav-link" href="/home/colleges">Colleges</a>
      </div>

      
    </div>
  </div>
</nav>
<%- body %>


<br><br>
<footer class="bg-dark text-light pt-5 pb-3">
  <div class="container">
    <div class="row">
      <!-- Brand Info -->
      <div class="col-md-4 mb-4">
        <h4 class="fw-bold">CareerHub ⇡</h4>
        <p class="small">Empowering students & mentors with verified college data, career guidance, and 24x7 support.</p>
        <div class="d-flex gap-2" id="Social-media">
          <a target="_blank" href=" https://www.facebook.com/profile.php?id=61579173831287
" class="text-light"><i class="fab fa-facebook fa-lg"></i></a>
          <a  target="_blank"  href="https://www.instagram.com/careerhub25/
" class="text-light"><i class="fab fa-instagram fa-lg"></i></a>
          <a  target="_blank"  href="https://www.linkedin.com/in/career-hub-b801b1378/
" class="text-light"><i class="fab fa-linkedin fa-lg"></i></a>
<a  target="_blank"  href=" https://www.youtube.com/@CareerHub2025
" class="text-light"><i class="fa-brands fa-youtube"></i></a>
<a  target="_blank"  href="https://x.com/CareerHub_25
" class="text-light"><i class="fa-brands fa-x-twitter"></i></a>
<a  target="_blank"  href="https://www.threads.com/@careerhub25
" class="text-light"><i class="fa-brands fa-threads"></i></a>
<a  target="_blank"  href=" https://wa.me/message/EZVWNTAODRSJE1  
" class="text-light"><i class="fa-brands fa-whatsapp"></i></a>



        </div>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4 mb-4">
        <h5 class="fw-semibold">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/home" class="text-light text-decoration-none">Home</a></li>
          <li><a href="/colleges" class="text-light text-decoration-none"> Colleges</a></li>
          <li><a target="_blank" href="https://forms.gle/uRvQvfmeHv6iH6GcA
">Student Enquiry Form</a></li>
<li><a target="_blank" href=" https://forms.gle/WNYfkSevVmKHNsBa9 
">Mentors Registration Form</a></li>
        </ul>
      </div>

      <!-- Contact & Policies -->
      <div class="col-md-4 mb-4">
        <h5 class="fw-semibold">Contact</h5>
        <p class="small mb-1">📧 careerhub.assist@gmail.com</p>
        <p class="small mb-3">📞 +91 8340783239</p>

        <h6 class="fw-semibold">Legal</h6>
        <ul class="list-unstyled">
          <li><a href="/privacy-policy" class="text-light text-decoration-none">Privacy Policy</a></li>
          <li><a href="/terms-and-conditions" class="text-light text-decoration-none">Terms & Conditions</a></li>
        </ul>
      </div>
    </div>

    <!-- Bottom Line -->
    <hr class="border-secondary" />
    <p class="text-center small mb-0">© 2025 CareerHub. All rights reserved.</p>
  </div>
</footer>










<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/571e6d2ade.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>